body {
    background-color: black;
}

h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.curso {
    color: white;
}

.img {
    display: flex;
    justify-content: center;
}